{% load render_bundle from webpack_loader %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Directorio de Negociantes en Cuba</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" /> <link
    rel="stylesheet" href="{% static "css/style.css" %}" /> <link
    rel="stylesheet" href="{% static "css/ionicons.min.css" %}" /> <link
    rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
  </head>
  <body>
    <noscript>
      <strong
        >Lo sentimos pero este sitio no funciona sin JavaScript. Por favor,
        actívela.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    {% render_bundle 'app' %}

      <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.appear.min.js" %}"></script>
		<script src="{% static "js/jquery.incremental-counter.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
  <!-- <script src="http://localhost:8080/app.js"></script> -->
</html>
